* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  color: black;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 80%;
  font-family: 'Nunito', sans-serif;
  --app-red: #C60910;
  --app-white: #F4F4F4;
  background-color: var(--app-white);
  padding-bottom: 5rem;
}

a {
    text-decoration: none;
}

main {
    margin-top: 6rem;
}

h1 {
    font-size: 2.2rem;
}

/*navigation bar styles*/
.mobile-nav {
    display: none;
}

.logo h2 {
    font-weight: 900;
    color: var(--app-red);
}

.desktop-nav {
    position: fixed;
    top: 0;
    z-index: 30;
    background-color: var(--app-white);   
    width: 80%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav ul {
    display: flex;
    list-style: none;
}

.desktop-nav ul li {
    margin-left: 3.5rem;
    font-weight: 700;
}

/*search bar styles*/
.search-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.search-bar {
    position: relative;
    display: inline-block;
}

.search-area {
    grid-row: 1/2;
    align-self: center;
}

#search {
    height: 2.5rem;
    width: 25rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    padding: 1rem;
}

#search + ion-icon {
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
    right: 1rem;
    top: 20%;
    cursor: pointer;
}

.hero {
    width: 60%;
    grid-column: 2/3;
    justify-self: center;
    font-size: 1.2rem;
    text-align: center;
}

.hero > .logo {
    display: none;
}

/*event card and container styles*/
#events {
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: grid;
    gap: 3.33%;
    grid-template-columns: repeat(4, 1fr);

}

.event-container {
    background-color: #fff;
    width: 100%;
    height: 350px;
    overflow: hidden;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 02px3px 6px rgba(0, 0, 0, 0.4)  ; 
}

.info-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.info-container ion-icon {
    font-size: 2rem;
    margin-left: 1rem;
}

.card-buttons {
    align-self: flex-end;

}

.info-container h3 {
    margin-bottom: .3rem;
    margin-top:  .3rem;
}

.info-container h5 {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.img-container {
    height: 60%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

/*modal window styles*/
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    z-index: 80;
    transition: 200ms ease-in-out;
    width: 40%;
    height: 60%;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 02px3px 6px rgba(0, 0, 0, 0.4)  ; 
}

#modal img {
    height: 300px;
    position: absolute;
    bottom: 2rem;
    left: 4rem;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-info {
    width: auto;
    text-align: center;
    position: absolute;
    top: 15%;
    right: 20%;
}

#overlay {
    position: fixed;
    opacity: 0;
    background-color: #292828;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
} 

#overlay.active {
    pointer-events: all;
    opacity: 50%;
    z-index: 50;
}

.close-btn {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.modal-link {
    padding: .4rem;
    border: 1px solid;
    border-radius: 5px;
}

/*button styles*/
.btn {
    background-color: var(--app-red);
    color: var(--app-white);
    padding: 1rem 1.3rem;
    border-radius: 40px;
    font-weight: bold;
    font-size: .9rem;
}

/*footer styles*/
footer > a {
    font-size: .6rem;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100vw;
    background-color: var(--app-white);
    z-index: 30;
    display: flex;
    align-items: center;
    margin-top: 6rem;
}

/****** MOBILE STYLES *********/

@media screen and (max-width: 800px) {
    .desktop-nav {
        display: none;
    }

    body {
        padding: 0;
        width: 100%;
    }

    main {
        margin: 1.5rem;
    }

   h1 {
       font-size: 1.8rem;
   }

/*mobile nav styles*/
  .mobile-nav {
    background-color: #CE2F35;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: .3rem;
    z-index: 30;
    -webkit-box-shadow: -1px -1px 4px -1px rgba(135,125,135,1);
    -moz-box-shadow: -1px -1px 4px -1px rgba(135,125,135,1);
    box-shadow: -1px -1px 4px -1px rgba(135,125,135,1);
  }

  .mobile-nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;

  }

  .mobile-nav ion-icon {
    color: #F4F4F4;
    font-size: 2em;
  }

/*mobile search bar and hero styles*/
  #search {
      width: 100%;
  }
  
  .search-bar {
      display: block;
  }

  .search-hero {
        display: block;
    }

  .hero {
      margin: 0 auto;
      width: 100%;
      font-size: 1.1rem;
      margin-bottom: 2.5rem;   
  } 

  .hero > img {
      width: 70%;
  }

  .hero > .logo {
      display: block;
  }

  /*mobile event cards styles*/
  #events {
      display: block;
  }

  .event-container {
      width: 100%;
      height: 300px;
      margin-bottom: 2.5rem;
  }

/*mobile footer styles*/
  footer > a {
      display: none;
  }

  /*mobile modal styles*/
  #modal {
    width: 90%;
    height: 70%;
  }

  .modal-info {
    right: 10%;
  }

  #modal img {
      height: 170px;
  }
}

/*events grid for smaller desktops*/
@media screen and (max-width: 1500px) {
    #events {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    #events {
        grid-template-columns: repeat(2, 1fr);
    }
}