{% extends 'layout.html' %}

{% block main %}
<div id="user-info">
    <div class="information">
        <div class="user-image">
            <img src="../static/assets/user.png" id="prv-img" alt="user photo">
        </div>
        <div>
            <label for="">Name</label>
            <p>User's name</p>
        </div>
        <br>
        <div>
            <label for="">Email</label>
            <p>User's email</p>
        </div>
        <br>
        <a href="{{ url_for('edit') }}"><span id="edit">Edit <ion-icon name="create-outline" style="color: inherit"></ion-icon></span></a>
    </div>
    <div class="right-img">
        <img src="../static/assets/sitting-human.svg" alt="drawing of a person sitting on their knees">
    </div>
</div>
{% endblock %}