{% extends "layout.html" %}

{% block main %}
<section class="search-hero">
    <div class="hero">
        <img src="../static/assets/hero.svg" alt="drawing of queer people in a meeting">
        <div class="logo">
            <h2>queerevent</h2>
        </div>
        <p>All your LGTBQIA+ events in one place</p>
    </div>
    <div class="search-area">
        <h1>{{ title }}</h1>
        <div class="search-bar">
            <input id="search" type="text">
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </div>
</section>
<section id="events">
    {% block events %}
    {% endblock %}
</section>

{% endblock %}
