{% extends 'layout.html' %}

{% block main %}
<h1>My Calendar of Events</h1>
<section class="top-calendar">
    <div id="calendar">
        <div class="month">
            <ion-icon class="prev-month-arrow" name="chevron-back-outline"></ion-icon>
            <div class="date">
                <h3>October  2020</h3>
            </div>
            <ion-icon class="next-month-arrow"name="chevron-forward-outline"></ion-icon>
        </div>
        <div class="weekdays">
            <div>M</div>
            <div>T</div>
            <div>W</div>
            <div>T</div>
            <div>F</div>
            <div>S</div>
            <div>S</div>
        </div>
        <div class="days">

        </div>
    </div>
    <div class="calendar-girl">
        <img src="../static/assets/pointing-girl.svg" alt="drawing of a person pointing at the calendar">
    </div>
</section>
<script src="../static/calendar.js"></script>
{% endblock %}