{% extends 'layout.html' %}

{% block main %}
<h1>My Calendar of Events</h1>
<section class="top-calendar">
    <div id="calendar">
        <div class="month">
            <ion-icon class="month-arrow" name="chevron-back-outline"></ion-icon>
            <div class="date">
                <h3>October  2020</h3>
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <div class="weekdays">
            <div>S</div>
            <div>M</div>
            <div>T</div>
            <div>W</div>
            <div>T</div>
            <div>F</div>
            <div>S</div>
        </div>
        <div class="days">
            <div class="prev-date">26</div>
            <div class="prev-date">27</div>
            <div class="prev-date">28</div>
            <div class="prev-date">29</div>
            <div class="prev-date">30</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div>17</div>
            <div>18</div>
            <div>19</div>
            <div>20</div>
            <div>21</div>
            <div>22</div>
            <div>23</div>
            <div>24</div>
            <div>25</div>
            <div>26</div>
            <div>27</div>
            <div>28</div>
            <div>29</div>
            <div>30</div>
            <div>31</div>
            <div class="next-date">1</div>
            <div class="next-date">2</div>
            <div class="next-date">3</div>
            <div class="next-date">4</div>
            <div class="next-date">5</div>
            <div class="next-date">6</div>
        </div>
    </div>
</section>
<script src="../static/calendar.js"></script>
{% endblock %}