{% extends 'layout.html' %}

{% block main %}
<section id="login" class="four-grid">
    <div class="big-hero">
        <img src="../static/assets/hero.svg" alt="drawing of a group of people chatting">
    </div>
    <div class="welcome">
        <h1>Welcome to Queerevent</h1>
        <p>All your LGBTQIA+ events in one place</p>
        <form action="" class="form">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" onchange="validateEmail()">
                <p id="alert">Enter a valid email</p>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
             <div class="form-control">
                <label for="password">Confirm Password</label>
                <input type="password" name="password">
            </div>
            <input type="submit" class="btn" value="Create Account">
        </form>       
    </div>
</section>
<script src="../static/validation.js"></script>
{% endblock %}