{% extends 'layout.html' %}

{% block main%}
    <section class="four-grid">
        <div class="preview-img">
            <img src="../static/assets/pride.jpg" alt="event image">
        </div>
        <div class="preview-info">
            <header>
                <h2>Event Name</h2>
                <ion-icon style="font-size: 2.2rem;" name="heart-outline"></ion-icon>
            </header>
            <div>
                <ul>
                    <li class="triangle">Tue 13 Oct 2020</li>
                    <li class="triangle">From 4:00 PM to 8:00 PM</li>
                    <li class="triangle">Somewhere</li>
                    <li class="triangle">Link</li>
                </ul>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sit. Rem dignissimos quos inventore consequatur. Pariatur, ducimus soluta? Repellat, eius iusto animi repellendus illum in provident enim deleniti ducimus doloribus?
                Explicabo eius culpa harum neque one sed culpa tenetur laborum ipsam delectus eius fugit beatae eaque debitis! Maxime cumque dolorem maiores? Maiores accusamus mollitia ut unde!
                Soluta odit, non placeat recusandae rem asperiores consequatur nam provident in beatae est sapiente maxime autem quas cupiditate deserunt unde! Blanditiis ut quis iste? Quis repudiandae eaque harum accusamus fugiat.</p>
            </div>
            <br>
            <h3>Organized By</h3>
            <h5>Organizer</h5>
            <h5>Organizer's website</h5>
        </div>
        <div class="map">

        </div>
        <div class="cta">
            <p><strong>Do you like this event?</strong></p>
            <p>Make sure you don't miss it!</p>
            <button class="btn">Add to Calendar</button>
        </div>
    </section>
    <script src="../static/event.js"></script>    
{% endblock %}