{% extends "base-hero.html" %}
{% from "macros.html" import popup%}

{% block events %}
{% for n in range(12) %}
<a href="">
    <div class="event-container">
        <!-- Donde this way to enable CSS properties fo background images -->
        <div class="img-container" style="background-image: url(../static/assets/pride.jpg);"></div>
        <div class="info-container">
            <div class="card-text">
                <h3>Event Name</h3>
                <h5>16 November 2020</h5>
                <h5>From 4pm to 8pm</h5>
            </div>
            <div class="card-buttons">
                <ion-icon name="arrow-redo" class="share-arrow" data-modal-target="#modal"></ion-icon>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
        </div>
    </div>
</a>
{% endfor %}
{{ popup('Share this event', 'Copy Link', '../static/assets/sitting-boy.svg', 'https://queerevent.com/event/e34', 'share-modal') }}
{% endblock %}