<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/styles.css?v=9.43">
    <title>Queerevent</title>
</head>
<body>
    <nav class="mobile-user">
        <div class="user-image">
            <a href="{{ url_for('account') }}"><img src="../static/assets/hero-mobile.jpg" alt="user's photo"></a>
        </div>
    </nav>
    <nav class="mobile-nav">
        <ul>
            <li class="mobile-menu-item">
                <a href="/"><ion-icon name="home-outline"></ion-icon></a>
            </li>
            <li class="mobile-menu-item">
                <a href="/my-events.html"><ion-icon name="person-outline"></ion-icon></a>
            </li>
            <li class="mobile-menu-item">
                <a href="/calendar.html"><ion-icon name="calendar-outline"></ion-icon></a>
            </li>
            <li class="mobile-menu-item">
                <a href="/favorites.html"><ion-icon style="font-size: 2.2rem;" name="heart-outline"></ion-icon></a>
            </li>
            <li class="mobile-menu-item">
                <a href="/new.html"><ion-icon style="font-size: 2.2rem;" name="add-circle-outline"></ion-icon></a>
            </li>
        </ul>
    </nav>
    <nav class="desktop-nav">
        <div class="nav-container">
            <div class="logo">
                <a href="{{ url_for('home') }}"><h2>queerevent</h2></a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/favorites.html">Favorites</a></li>
                <li><a href="/my-events.html">My Events</a></li>
                <li><a href="/calendar.html">Calendar</a></li>
                <li><a href="/new.html">New Event</a></li>
                <li class="user-image"><a href="{{ url_for('account') }}"><img src="../static/assets/hero-mobile.jpg" alt="user's image"></a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <!-- <footer>
        <a href="">Privacy Policy</a>
    </footer> -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>