{% macro popup(text, button, img, link, class)%}
<div id="modal" class="modal">
    <button class="close-btn close-button">&times;</button>
    <div class="{{ class }} modal-info">
        <div>
            <h2>{{ text }}</h2>
        </div>
        <div>
            <p>{{ link }}</p>
        </div>
        <div>
            <button class="btn close-button">{{ button }}</button>
        </div>
    </div>
    <img src="{{ img }}" alt="drawing of a person">
</div>
<div id="overlay">

</div>
<script src="../static/modal.js?v=1.0.0"></script>
{% endmacro %}