{% extends 'layout.html' %}

{% block main %}
<h1>New Event</h1>
<section class="new-event-grid">
    <form action="" class="new-event-form">
        <div>
            <label for="file">Upload event image</label>
            <input type="file" name="file" id="img-upload"> 
        </div>
        <div class="form-control">
            <label for="name">Event Name</label>
            <input type="text" name="name" data-bind="value: name">
        </div>
        <div class="form-control option">
            <label for="type">Type of Event</label>
            <select name="type">
                <option value="Physical">Physical</option>
                <option value="Online">Online</option>
            </select>
        </div>
        <div class="form-control location">
            <label for="location">Where will it be?</label>
            <input type="text" name="location" data-bind="value: place">
        </div>
        <div class="form-control">
            <label for="date">Date</label>
            <input type="date" id="date-input" name="date" data-bind="value: date">
        </div>
        <div class="form-control">
            <label for="time">Starting time</label>
            <input type="time" data-bind="value: startingHour">
        </div>
        <div class="form-control">
            <label for="time">Ending Time</label>
            <input type="time" data-bind="value: endingHour">
        </div>
        <div class="form-control">
            <label for="link">Link to the event</label>
            <input type="text" name="link" data-bind="value: link">
        </div>
        <div class="form-control">
            <label for="organizer">Organizer</label>
            <input type="text" name="organizer" data-bind="value: organizer">
        </div>
        <div class="form-control">
            <label for="organizer">Organizer's website</label>
            <input type="text" name="organizer" data-bind="value: organizer">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" rows="10" data-bind="value: description"></textarea>
        </div>
        <div class="new-btn">
            <button class="btn">Publish</button>
        </div>
    </form>
    <div class="preview-container">
        <h3>Preview</h3>
        <div id="event-preview" class="base-card">
            <h2 data-bind="text: name"></h2>
            <div class="preview-info">
                <div>
                    <ul>
                        <li class="triangle date" data-bind="text: date"></li>
                        <li class="triangle">From <span data-bind="text: startingHour"></span> to <span data-bind="text: endingHour"></span></li>
                        <li class="triangle" data-bind="text: place" class="place"></li>
                        <li class="triangle" data-bind="text: link"></li>
                    </ul>
                </div>
                <div>
                    <p data-bind="text: description"></p>
                </div>
                <br>
                <h3>Organized By</h3>
                <h5 data-bind="text: organizer"></h5>
                <h5>Website</h5>
            </div>
            <div class="preview-img">
                <img src="#" id="prv-img">
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../static/data-binding.js"></script>
{% endblock %}