{% extends "layout.html" %}

{% block main %}
<section class="search-hero">
    <div class="hero">
        <img src="../static/assets/hero.svg" alt="drawing of queer people in a meeting">
        <div class="logo">
            <h2>queerevent</h2>
        </div>
        <p>All your LGBTQIA+ events in one&nbsp;place</p>
    </div>
    <div class="search-area">
        <h1>{{ title }}</h1>
        <form class="search-bar">
            <input id="search" type="text" placeholder="Search" spellcheck="false" name="q"> 
            <ion-icon name="search-outline"></ion-icon>
        </form>
    </div>
</section>
<menu class="events-menu">
    <ul>
        <li class="events-menu-item active">All</li>
        <li class="events-menu-item">Online</li>
        <li class="events-menu-item">Physical</li>
        <li class="events-menu-item">One time</li>
        <li class="events-menu-item">Recurring</li>
    </ul>
</menu>
<ul id="events">
    {% block events %}
    {% endblock %}
</ul>
<script src="../static/events.js"></script>
{% endblock %}
