{% extends 'layout.html' %}

{% block main %}
<section id="login" class="four-grid">
    <div class="big-hero">
        <img src="../static/assets/hero.svg" alt="drawing of a group of people chatting">
    </div>
    <div class="welcome">
        <h1>Welcome to Queerevent</h1>
        <p>All your LGBTQIA+ events in one place</p>
        <form action="/" class="form" method="post">
            {{ form.hidden_tag() }}
            <div class="form-control">
                {{ form.name.label }}
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-control">
                {{ form.email.label }}
                {{ form.email }}
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-control">
                {{ form.password.label }}
                {{ form.password }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-control">
                {{ form.password2.label }}
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <a href="{{ url_for('login') }}">
                <p>Already have an account? Click to login</p>
            </a>
            <p>{{ form.submit(class_="btn") }}</p>
        </form>
    </div>
</section>
<script src="../static/validation.js"></script>
{% endblock %}