{% extends 'layout.html' %}

{% block main %}
<h2>Edit Personal Information</h2>
<section id="user-info">
    <div class="user-menu">
       {% if img %}
            <img src="data:;base64,{{ img }}" id="prv-img" alt="user photo">
        {% else %}
            <img src="../static/assets/user.png" id="prv-img" alt="user photo">
        {% endif %}
    </div>
    <form class="form" method="POST" enctype="multipart/form-data">
        <div class="change-img">
            <label for="change">Change image (max. size 200 kb)</label>
            <input type="file" name="change" id="img-upload" accept=".jpg, .jpeg, .png, .webp">
        </div> 
        {{ form.hidden_tag() }}
        <div class="form-control">
            {{ form.name.label }}
            {{ form.name(class_="edit") }}
        </div>
        <div class="form-control">
            {{ form.old_password.label }}
            {{ form.old_password }}
        </div>
        <div class="form-control">
            {{ form.new_password.label }}
            {{ form.new_password }}
            {% for error in form.new_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-control">
            {{ form.confirm.label }}
            {{ form.confirm }}
        <div class="btns">
            <button class="btn" id="cancel" onclick="window.history.back();">Cancel</button>
            <p>{{ form.submit(class_="btn") }}</p>
        </div>
    </form>
    <div class="right-img">
        <img src="../static/assets/sitting-human.svg" alt="drawing of a person sitting on their knees">
    </div>
</section>
<script src="../static/preview-img.js"></script>
<script src="../static/validation.js"></script>
{% endblock %}