{% extends 'layout.html' %}
{% from "macros/macro-popup.html" import popup %}
{% block main%}
    <section class="four-grid">
        <div class="preview-img">
            {% if not event.img %}
                <img src="../static/assets/pride.jpg" alt="event image">               
            {% else %}
                <img src="data:;base64,{{ img }}" alt="event image">
            {% endif %}
        </div>
        <div class="preview-info">
            <header>
                <h2>{{ event.name }}</h2>
                {% if user_is_fan %}
                    <ion-icon class="heart active" style="font-size: 2.2rem;" name="heart" onclick="toggleFavorite()" data-event="{{ event.id }}" data-user-id={{ current_user.id }}></ion-icon>
                {% else %}
                    <ion-icon class="heart" style="font-size: 2.2rem;" name="heart-outline" onclick="toggleFavorite()" data-event="{{ event.id }}" data-user-id={{ current_user.id }}></ion-icon>
                {% endif %}
            </header>
            <div>
                <ul>
                    {% if event.recurrence == 'Recurring' %}
                        <li class="triangle">{{ event.periodicity }}</li>
                    {% else %}
                        <li class="triangle event-date">{{ event.date }}</li>
                    {% endif %}
                    {% if event.starting_time %}
                        <li class="triangle">At {{event.starting_time }}</li>
                    {% endif %}
                    {% if event.location %}
                        <li class="triangle">{{ event.location }}</li>
                    {% endif %}
                    {% if event.link %}
                        <li class="triangle"><a href="{{ event.link }}" target="_blank">{{ event.link }}</a></li>
                    {% endif %}
                    {% if user_is_fan %}
                        <li class="triangle">user is fan</li>
                    {% endif %}
                </ul>
            </div>
            <div class="event-description">
                <p>{{ event.description }}</p>
            </div>
            <br>
            {% if event.organizer or event.organizer_web %}
                <h3>Organized By</h3>
                <h5>{{ event.organizer }}</h5>
                {% if event.organizer_web%}
                    <h5><a href="{{ event.organizer_web }}" target="_blank">{{ event.organizer_web }}</a></h5>
                {% endif %}
            {% endif %}
        </div>
        <div class="map">
        </div>
        <div class="cta">
            <p><strong>Do you like this event?</strong></p>
            <p>Make sure you don't miss it!</p>
            <button class="btn open-m">Add to Calendar</button>
            {% if event.user_id == current_user.id %}
                <button class="btn">Delete Event</button>
            {% endif %}
        </div>
        {{ popup('This event was added to your calendar', 'Ok!', '../static/assets/popup-person.svg') }}  
    </section>
    <script src="../static/event-details.js"></script>    
    <script src="../static/events.js"></script>
    <script src="../static/favorites.js"></script>
{% endblock %}