{% extends 'layout.html' %}
{% from "macros/macro-popup.html" import popup %}
{% block main%}
    <section class="four-grid">
        <div class="preview-img">
            {% if not event.img %}
                <img src="../static/assets/pride.jpg" alt="event image">               
            {% else %}
                <img src="data:;base64,{{ img }}" alt="event image">
            {% endif %}
        </div>
        <div class="preview-info">
            <header>
                <h2>{{ event.name }}</h2>
                {% if not current_user.is_anonymous %}
                    {% if user_is_fan %}
                        <ion-icon class="heart active" style="font-size: 2.2rem;" name="heart" data-event="{{ event.id }}"></ion-icon>
                    {% else %}
                        <ion-icon class="heart" style="font-size: 2.2rem;" name="heart-outline" data-event="{{ event.id }}"></ion-icon>
                    {% endif %}
                {% endif %}
            </header>
            <div>
                <ul>
                    {% if event.recurrence == 'Recurring' %}
                        <li class="triangle">{{ event.periodicity }}</li>
                    {% else %}
                        <li class="triangle event-date">{{ event.date }}</li>
                    {% endif %}
                    {% if event.starting_time %}
                        <li class="triangle">{{event.starting_time }}</li>
                    {% endif %}
                    {% if event.location %}
                        <li class="triangle location" data-lat="{{ coordinates[0] }}" data-lng="{{ coordinates[1] }}">{{ event.location }}</li>
                    {% endif %}
                    {% if event.link %}
                        <li class="triangle"><a href="{{ event.link }}" target="_blank">{{ event.link }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="event-description">
                <p>{{ event.description }}</p>
            </div>
            <br>
            {% if event.organizer or event.organizer_web %}
                <h3>Organized By</h3>
                <h5>{{ event.organizer }}</h5>
                {% if event.organizer_web%}
                    <h5><a href="{{ event.organizer_web }}" target="_blank">{{ event.organizer_web }}</a></h5>
                {% endif %}
            {% endif %}
        </div>
        {% if event.location %}
            <div class="map">
            </div>
        {% endif %}
        {% if event.user_id == current_user.id %}
            <form class="delete" action="" method="POST">
                <p>This event was published by you.</p>
                <p>Do you want to delete it?</p>
                <input type="submit" class="btn" value="Delete event">
            </form>
        {% else %}
            <div class="cta">
                <img src="../static/assets/popup-person.svg" alt="drawing of a person pointing at the map">
            </div>
        {% endif %}
        {{ popup('This event was added to your calendar', 'Ok!', '../static/assets/popup-person.svg') }}  
    </section>
    <script src="../static/event-details.js"></script>    
    <script src="../static/events.js"></script>
    <script src="../static/favorites.js"></script>
{% endblock %}