<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/styles.css?v=7.12234">
    <title>Queerevent</title>
</head>
<body>
    <nav class="mobile-user">
        <div class="user-menu">
            {% if not current_user.is_anonymous %}
                <a href="{{ url_for('account') }}">
                    <img class="profile-img" src="../static/assets/user.png" alt="user's photo">
                </a>
            {% else %}
                <ul>
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
    {% if not current_user.is_anonymous %}
        <nav class="mobile-nav">
            <ul>
                <li class="mobile-menu-item">
                    <a href="/"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li class="mobile-menu-item">
                    <a href="/my-events"><ion-icon name="person-outline"></ion-icon></a>
                </li>
                <li class="mobile-menu-item">
                    <a href="/favorites"><ion-icon style="font-size: 2.2rem;" name="heart-outline"></ion-icon></a>
                </li>
                <li class="mobile-menu-item">
                    <a href="/new"><ion-icon style="font-size: 2.2rem;" name="add-circle-outline"></ion-icon></a>
                </li>
                <!-- <li class="mobile-menu-item">
                    <a href="/calendar"><ion-icon name="calendar-outline"></ion-icon></a>
                </li> -->
            </ul>
        </nav>
    {% endif %}
    <nav class="desktop-nav">
        <div class="nav-container">
            <div class="logo">
                <a href="{{ url_for('index') }}"><h2>queerevent</h2></a>
            </div>
            {% if not current_user.is_anonymous %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/my-events">My Events</a></li>
                    <!-- <li><a href="/calendar">Calendar</a></li> -->
                    <li><a href="/new">New Event</a></li>
                    <li class="user-menu">
                        <a href="{{ url_for('account') }}">
                            <img class="profile-img" id="user-img" src="../static/assets/user.png" alt="user's image">
                        </a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <!-- <footer>
        <a href="">Privacy Policy</a>
    </footer> -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/layout.js"></script>
</body>
</html>