{% macro popup(text, button, img, link, button_id) %}
<!-- pass class copy to the button to make it copy the text in the p -->
<div id="modal" class="modal base-card">
    <button class="close-btn close-button">&times;</button>
    <div class="modal-content">
        <div class="modal-info">
            <div>
                <h2>{{ text }}</h2>
            </div>
            <div>
                <input type="text" class="link" value="{{ link }}">
            </div>
            <div>
                <button class="btn close-button" id="{{ button_id }}">{{ button }}</button>
            </div>
        </div>
        <div class="modal-img">
            <img src="{{ img }}" alt="drawing of a person">
        </div>
    </div>
</div>
<div id="overlay">

</div>
<script src="../static/modal.js?v=1.0.0"></script>
{% endmacro %}