{% extends 'layout.html' %}
{% from "macros.html" import popup %}

{% block main %}
<h1 class="form-h1">New Event</h1>
<section class="new-event-grid">
    <form action="" class="form">
        <div>
            <label for="file">Upload event image</label>
            <input type="file" name="file" id="img-upload" accept=".jpg, .jpeg, .png, .svg, .webp"> 
        </div>
        <div class="form-control">
            <label for="name">Event Name</label>
            <input type="text" class="inpt" name="name" data-bind="value: name" required> 
        </div>
        <div class="form-control option">
            <label for="type">Type of Event</label>
            <select name="type" class="inpt select-type">
                <option value="Physical">Physical</option>
                <option value="Online">Online</option>
            </select> 
        </div>
        <div class="form-control option">
            <label for="type">Periodicity</label>
            <select name="type" class="inpt select-period">
                <option value="One time">One time</option>
                <option value="Recurring">Recurring</option>
            </select>
        </div>
        <div class="form-control period" style="display: none;">
            <label for="period">When will it be?</label>
            <input type="text" class="inpt" name="period" data-bind="value: periodicity">
        </div>
        <div class="form-control location">
            <label for="location">Location</label>
            <input type="text" class="inpt" name="location" data-bind="value: place">
        </div>
        <div class="form-control"  id="date-input">
            <label for="date">Date</label>
            <input type="date" class="inpt" name="date" data-bind="value: date">
        </div>
        <div class="form-control">
            <label for="time">Starting time</label>
            <input type="time" class="inpt" data-bind="value: startingHour">
        </div>
        <div class="form-control">
            <label for="time">Ending Time</label>
            <input type="time" class="inpt" data-bind="value: endingHour">
        </div>
        <div class="form-control">
            <label for="link">Link to the event</label>
            <input type="text" class="inpt" name="link" data-bind="value: link">
        </div>
        <div class="form-control">
            <label for="organizer">Organizer</label>
            <input type="text" class="inpt" name="organizer" data-bind="value: organizer" required>
        </div>
        <div class="form-control">
            <label for="organizer">Organizer's website</label>
            <input type="text" class="inpt" name="organizer" data-bind="value: website">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea class="inpt" name="description" rows="10" data-bind="value: description" required></textarea>
        </div>
        <div class="new-btn">
            <button class="btn open-m">Publish</button>
        </div>
    </form>
    <div class="preview-container">
        <h3>Preview</h3>
        <div id="event-preview" class="base-card">
            <h2 data-bind="text: name"></h2>
            <div class="preview-info">
                <div>
                    <ul>
                        <li class="triangle periodicity" data-bind="text: periodicity" style="display: none;"></li>
                        <li class="triangle date" data-bind="text: date"></li>
                        <li class="triangle">From <span data-bind="text: startingHour"></span> to <span data-bind="text: endingHour"></span></li>
                        <li class="triangle place" data-bind="text: place"></li>
                        <li class="triangle" data-bind="text: link"></li>
                    </ul>
                </div>
                <div>
                    <p data-bind="text: description"></p>
                </div>
                <br>
                <h3>Organized By</h3>
                <h5 data-bind="text: organizer"></h5>
                <h5 data-bind="text: website"></h5>
            </div>
            <div class="preview-img">
                <img src="#" id="prv-img">
            </div>
        </div>
    </div>
    {{ popup('Your event is published', 'See it', '../static/assets/standing-boy.svg') }} 
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../static/preview-img.js"></script>
<script src="../static/data-binding.js"></script>
{% endblock %}